
.cmn_heading {
    color: #0A2647;
    font-family: "Cabin", Sans-serif;
    font-size: 55px;
    font-weight: 700;
    line-height: 75px;
   
}
.digital_world_heading{
    padding-top: 8rem;
}
.services_btn_outer{
    margin-top: 40px;
}
.hero_bg{
    height: 500px;
    width: 450px;
}

.experience_heading{
    font-size: 36px;
  background: #08539c;
  color: #fff;
  padding: 9px 32px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: 700;
  font-family: "Cabin", Sans-serif;
  width: 234px;
  position: absolute;
  top: auto;
  left: 104px;
  bottom: 6rem;
}
.home_container{
    padding-top: 4rem;
}
.triangle_img{
    transform: translate(0px, 77px);
}
.herobg_outer {
    position: relative;
}
@media screen and  (max-width: 1600px) {
    .cmn_heading {
        font-size: 40px;
        line-height: 52px;
    }
    
}
@media screen and (min-width:1800px){
    .hero_bg{
        height: 650px;
        width: 650px;
      }
      .triangle_img {
        transform: translate(0px, 152px);
    }
}
@media screen and (min-width:1500px){
  
    .industry_slide img {
      width: 100%;
    }
  }
@media screen and (max-width: 1440px) {
    .cmn_heading {
        font-size: 30px;
        line-height: 38px;
    }
    
}
@media screen and (min-width:100px) and (max-width:1250px){
    .hero_bg {
        height: 500px;
        width: 325px;
    }
    .triangle_img {
        transform: translate(0px, 153px);
        height: 100%;
    }
    .hero_bg_wrapper{
        display: flex;
    }
}
@media screen and (max-width:991px){
    .herobg_outer {
        margin-top: 24px;
    }
    .digital_world_heading{
        padding-top: 0rem;
    }
}
@media screen and (max-width:767px){
  
    .cmn_heading {
        font-size: 22px;
    }
    .triangle_img{
        display: none;
    }
    .experience_heading{
        left: 0px;
        font-size: 20px;
        width: 191px;
    }
    .hero_bg {
        width: 100%;
    }
    
}