.cmn_btn{
  background-color: #0971d3;
  border: none;
  color: white;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  padding: 0px 25px;
  height: 45px;
  border: 2px solid transparent;
}

.cmn_btn:hover{
  border: 2px solid #0971d3;
  background-color: white;
  color: #0971d3;
}
.cmn_paragraph{
  color: #294867;
    font-family: "Lato", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}
.express_btn{
  height: 45px;
    text-align: center;
    
    padding: 0px 25px;
    border-radius: 10px;
    font-weight: 600;
    transition: all 0.3s;
    border: 2px solid #0971d3;
    font-size: 14px;
    color: #0971d3;
    background-color: white;
}
.express_btn:hover{
  background-color: #0971d3;
  color: white;
}
.paddingTopBottom {
  padding-top: 90px;
  padding-bottom: 90px;

}
.cmn_radius{
  border-radius: 80px;
  box-shadow: 5px 5px 12px 5px #edecec;

}
.cmn_margin{
  margin-top: 6rem;
}
ul{
  list-style-type: none;
  
}
.paddingLeftRight{
  padding-left: 60px !important;
  padding-right: 60px !important;
}

@media (max-width: 1440px) {
  .cmn_paragraph {
      font-size: 16px;
  }
}
@media (max-width: 1399px) {
  .paddingLeftRight{
      padding-left: 60px !important;
      padding-right: 60px !important;
  }
  .paddingTopBottom {
        padding-top: 40px;
        padding-bottom: 40px;
    
}
}
@media screen and  (max-width: 767px) {
  .paddingLeftRight{
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .cmn_radius {
    border-radius: 40px
  }
  .cmn_margin {
    margin-top: 4rem;
}
.cmn_paragraph {
  font-size: 14px;
}
 }